<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome!</h1>
    <div th:if="${logout}">
        You have been logged out.
    </div>
    <p>Click <a th:href="@{/greeting}">here</a> to see a greeting.</p>
    <p>Click <a th:href="@{/secureGreeting}">here</a> to login.</p>
</body>
</html>